header {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 30px 0px;
    background: #fff;
}

.headerWapper {
    transition: all 0.3s ease-in-out;
    background: #fff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
}

.headerWapper.fixed {
    position: fixed;
    top: -100px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background: #fff;
}

header .headerSearch {
    width: 100%;
    height: 60px;
    border: 2px solid #c6c424;
    padding: 10px 20px;
}

header .headerSearch .selectDropWrapper {
    width: 23%;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding-right: 20px;
}


header .headerSearch .selectDropWrapper:after {
    content: '';
    width: 1px;
    height: 30px;
    background: rgb(67, 64, 64);
    position: absolute;
    top: 5px;
    right: 0px
}

header .headerSearch .search {
    width: 77%;
    padding-left: 30px;
    position: relative;

}

header .headerSearch .search input {
    width: 100%;
    height: 50px;
    border: 0px;
    outline: none !important;
    font-size: 18px
}

header .headerSearch .search .searchIcon {
    position: absolute;
    top: 12px;
    right: 0px;
    opacity: 0.5;
    opacity: 20px !important;
    font-size: 30px;
}

header .headerTabs {
    padding-left: 40px;

}

header .headerTabs li span {
    font-size: 20px;
    cursor: pointer;
}

header .headerTabs li {
    position: relative;
    margin-left: 20px;
}

header .headerTabs li span .badge {
    width: 28px;
    height: 28px;
    color: white;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 20px
}

header .headerTabs li span img {
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.dropdownMenu {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 200px;
    height: auto;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0 0 0 / 20%);
    padding: 10px 0px !important;
    z-index: 100;

}

.dropdownMenu li {
    width: 100% !important;
    list-style: none;
    margin: 0px !important;
}

.dropdownMenu li button {
    width: 100% !important;
    text-align: left !important;
    justify-content: flex-start !important;
    color: rgb(0, 0, 0, 0.7) !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    padding: 12px 15px !important;
}

.dropdownMenu li button svg {
    opacity: 0.7;
    margin-right: 8px !important;
}

.dropdownMenu li button:hover {
    background: #f1f1f1 !important;

}

.email-input input {

    border-radius: 5px;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #999 !important;
    box-sizing: border-box;
    padding: 6px 30px;
    border: none;
}
.email-input input:focus-visible{
    outline: none;
}

.email-input input::placeholder {
    color: #999;
    font-style: normal;
    position: relative;
    left: 17px;
    

}

.email-label {
    position: absolute;
    top: 34%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

}

.password-label {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

}

.sign-name h1{
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #222;
    font-family: Poppins;
    font-size: 36px;
}

.form-title{
    margin-top: 32px;
}
.form-submit{

    display: inline-block;
        background: #6dabe4 !important;
        color: #fff !important;
        border-bottom: none !important;
        width: auto !important;
        padding:6px 29px !important;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        margin-top: 33px !important;
        cursor: pointer !important;
}

.clear{

    position: relative;
        top: 0px;
        right: 1px;
        left: 96%;
        cursor: pointer;
}


.name-label{
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.number-label{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
}

.signup-email-label{
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
}


.signup-pass-label{
    position: absolute;
    top: 66%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
}



