.homeProducts{
    /* margin-bottom: 200px ; */
    padding: 25px 0px;
}

.homeProducts .productRow{
    display: flex;
    padding: 30px 0px;
    margin: 0px -15px;
    flex-wrap: wrap;
}
.homeProducts .productRow .item{
    width: 20%;
    /* background:#470d0d; */
    padding: 15px 15px;
}

.homeProductsRow2 .prodSlider .item{
    padding: 15px 10px;
    padding-right: 25px !important;
}