

.notFound{
    width: 100%;
    height: auto;
    padding: 45px 0px;
}

.notFound .box{
    width: 50%;
    height: auto;
    padding: 100px 30px;
    text-align: center;
    margin: auto;
}
.notFound .box h1{
    font-size: 60px;
    color: #000;
    font-weight: bold;
    opacity: 0.7;
}
.notFound .box p{
    font-size: 25px;
    color: #000;
    margin-top: 25px;
}
.notFound .box .bthp{

    width: 40%;
    height: 59px;
}